@import '@/app/styles';

.movies {
  @include flexColumn;
  row-gap: 16px;
  width: 100%;
}

.list {
  @include flexColumn;
  row-gap: 16px;
}

.switchers {
  @include flexRow;
  justify-content: space-between;
  align-items: center;  
  column-gap: 12px;
  width: 100px;
}

.error {
  @include flexColumn;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.errorTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: $text;
}

.errorSubtitle {
  color: #999fa6;
  font-size: 14px;
  line-height: 143%;
}