@import '@/app/styles';

.container {
  @include flexRow;
  column-gap: 8px;
  border-radius: $global-br;
  padding: 12px;
  background-color: #fff;
  max-height: 40px;
  max-width: 400px;
  width: 100%;
}

.icon, .clear {
  background-repeat: no-repeat;
  width: 20px;
  height: 15px;
  background-position: center;
}

.icon {
  background-image: url('@/shared/ui/assets/icons/search.svg');
}

.clear {
  background-image: url('@/shared/ui/assets/icons/clear.svg');
  cursor: pointer;
}

.input {
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  line-height: 114%;
  color: $text;
}

.focused {
  box-shadow: inset 0 0 0 1px $active; /* Пример стиля box-shadow */
}
